* {
  margin: 0px;
  padding: 0px;
}

p {
  text-align: justify;
}

h6 {
  font-family: Barlow;
  color: white;
  font-size: 20px;
}

#portadita {
  background: #1f1527;
}

@media (max-width: 600px) {
  #portadita {
    display: none;
  }
}

@media (max-width: 600px) {
  .modalito {
    display: none;
  }
}

#perfil {
  margin-top: 770px;
}

@media (max-width: 1020px) {
  #perfil {
    margin-top: 670px;
  }
}

@media (max-width: 1020px) and (max-width: 1280px) {
  #perfil {
    margin-top: 580px;
  }
}

@media (max-width: 1020px) and (max-width: 451px) {
  #perfil {
    margin-top: -150px;
  }
}

#cambiofoto {
  color: white;
  position: absolute;
  width: 29%;
  height: 160px;
  margin-left: 500px;
  margin-bottom: 200px;
  border: 2px solid black;
  border-radius: 20%;
  background-color: transparent;
}

.img-thumbnail {
  width: 300px;
}

#plus {
  border-radius: 50%;
  color: #9b9922;
  background-color: transparent;
  border: none;
  position: relative;
}

title {
  background-color: none;
}

@media (max-width: 772px) {
  #cajaproyectos {
    height: 300px;
  }
}

#cuerpo {
  background-color: #1f1527;
}

#card {
  background-color: #1f1527;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid black;
}

#icono, #icono1, #icono2, #icono3 {
  color: #9b9922;
  width: 200px;
  height: 100px;
  margin: 0px auto;
}

.skill {
  width: 160px;
  height: 160px;
}

.uncuyo > img {
  width: 190px;
  height: 190px;
  border-radius: 25%;
}

@media (max-width: 270px) {
  .uncuyo > img {
    display: none;
  }
}

.ap > img {
  margin-top: 45px;
  width: 250px;
  height: 163px;
}

@media (max-width: 270px) {
  .ap > img {
    display: none;
  }
}

@media (max-width: 600px) {
  #barra {
    font-size: 20px;
    display: none;
  }
}

@media (max-width: 290px) {
  #barra {
    font-size: 15px;
    display: none;
  }
}

#navega {
  background-color: #333131;
  border-top: 10px solid black;
}

#presentacion, #sobremi, #educacion, #hardand, #proyectos, #experiencia, #acerca, #tituloh1 {
  color: #9b9922;
  font-family: Barlow;
  font-style: bold;
  text-shadow: 1px 1px black;
}

#barra, #progress {
  background-color: #333131;
}

p, h2, h3, h4, h5, ul, li {
  font-family: Barlow;
  color: white;
}

.progreso {
  color: #9b9922;
  height: 40px;
  width: 80%;
  font-size: 20px;
  line-height: 0.8;
}

#presentacion, #nac, #residencia, #edad, #estudios, #mail {
  font-family: Barlow;
  font-style: bold;
  color: #9b9922;
  font-size: 30px;
}

#presentacion {
  font-size: 40px;
  color: #9b9922;
}

#titulo, #presentacion, #primeraparte {
  text-align: center;
}

#cols {
  color: white;
}

#pres, #sobre, #educa, #skil, #proyec {
  background-color: #333131;
}

#pres:hover, #sobre:hover, #educa:hover, #skil:hover, #proyec:hover {
  color: #7f30b4;
  font-family: Barlow;
  font-style: bold;
}

#id1, #id2, #id3, #id4, #id5, #id0, #id6 {
  color: black;
  height: 20px;
}

#javascript {
  color: yellow;
  height: 90px;
  margin-bottom: 20px;
}

#angular {
  color: #dd3030;
  height: 90px;
  margin-bottom: 20px;
}

#html {
  color: orange;
  height: 90px;
  margin-bottom: 20px;
}

#css {
  color: #2929f1;
  height: 90px;
  margin-right: 40px;
}

#sass {
  color: #f88598;
  height: 90px;
  margin-right: 40px;
}

@media (max-width: 283px) {
  #sass {
    margin-right: 20px;
  }
}

#less {
  color: blue;
  height: 90px;
}

@media (max-width: 518px) {
  #less {
    margin-bottom: 20px;
    margin-top: -50px;
  }
}

@media (max-width: 404px) {
  #less {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

#grid {
  margin-bottom: 50px;
  height: 105px;
  margin-left: -40px;
  padding-bottom: 33px;
}

@media (max-width: 356px) {
  #grid {
    margin-bottom: 50px;
    margin-left: -42px;
  }
}

@media (max-width: 308px) {
  #grid {
    margin-left: -50px;
  }
}

#bootstrap {
  color: #7829d3;
  height: 90px;
  margin-bottom: 20px;
}

#barrita {
  margin-top: -50px;
}

#id0:hover, #id1:hover, #id2:hover, #id3:hover, #id4:hover, #id5:hover, #id6:hover {
  color: #7f30b4;
}

#imageen {
  background-color: #333131;
  background-size: cover;
  width: 100%;
  height: 0vh;
  background-attachment: fixed;
}

@media (max-width: 450px) {
  #imageen {
    height: 400px;
  }
}

#imageen1 {
  background-color: #333131;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: static;
  background-attachment: fixed;
}

@media (max-width: 450px) {
  #imageen1 {
    height: 400px;
  }
}

#subt {
  text-align: center;
  padding: 15%;
  color: black;
  font-size: 150px;
  text-shadow: 10px 10px black;
}

#navegacion {
  width: 10%;
  height: 930px;
  margin-top: 0px;
  display: block;
  float: left;
  position: -webkit-sticky(top);
  position: sticky(top);
  background-color: black;
  border: 2px solid black;
}

#asidenav {
  width: 100%;
  text-align: center;
  background-color: rgba(15, 117, 177, 0.589);
}

.btn {
  border: 1px solid black;
}

.btn:hover {
  background-color: #9b9922;
}

.sticky {
  border-bottom: 2px solid black;
  background: black;
  -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 290px) {
  #pres, #sobre, #educa, #skil, #proyec {
    font-size: 10px;
  }
}

#cols {
  background-color: black;
  font-size: 30px;
  margin-bottom: -1%;
}

.progress-bar {
  background-color: #7f30b4;
}

#formulario {
  background-color: #1f1527;
  border: 2px;
  width: 100%;
  color: white;
  font-family: Barlow;
}

.imputotros {
  background-color: transparent;
  color: white;
  text-align: justify;
  border: none;
  height: 100px;
  font-family: Barlow;
  resize: none;
  outline: none;
}

.inputsobre {
  background-color: transparent;
  color: white;
  text-align: justify;
  border: none;
  height: 300px;
  font-family: Barlow;
  resize: none;
  outline: none;
}

.inputdatos {
  background-color: transparent;
  color: white;
  text-align: center;
  font-size: 20px;
  border: none;
  width: 100%;
  height: 30px;
  font-family: Barlow;
  resize: none;
  outline: none;
}

.inputdatostitulos {
  background-color: transparent;
  color: white;
  text-align: center;
  font-size: 20px;
  border: none;
  width: 100%;
  height: 150px;
  font-family: Barlow;
  resize: none;
  outline: none;
}

.inputbase {
  background-color: transparent;
  color: white;
  text-align: justify;
  border: none;
  height: 400px;
  width: 80%;
  font-family: Barlow;
  resize: none;
  outline: none;
}

#btn {
  background-color: transparent;
  color: white;
  border: 1px solid #9b9922;
}

#btn1 {
  background-color: transparent;
  color: white;
  border: 1px solid #9b9922;
}
/*# sourceMappingURL=body.component.css.map */