<footer>
<div  id="footer" class="container-fluid">
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="  text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class=" col-md-12 mt-md-0 mt-6">
      
              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold">Contacto</h5>
              <br>
              
                <div class=" d-inline main-menu__item">
                  <a href="https://www.facebook.com/gaston.cirvini/" target="_blank">
                    <span><i class="main-menu__link fa-brands fa-facebook"></i></span>
                  </a>
                </div>
                <div class=" d-inline main-menu__item">
                    <a href="https://www.linkedin.com/in/jos%C3%A9-gast%C3%B3n-cirvini-7b8a48230/" target="_blank" >
                      <span><i class="main-menu__link fa-brands fa-linkedin-in"></i></span>
                    </a>
                </div>
              <div class=" d-inline main-menu__item">
                <a href="https://github.com/GastonCirvini" target="_blank">
                  <span><i class="main-menu__link fa-brands fa-github"></i></span>
                </a>
                
            </div>
            <div class=" d-inline main-menu__item">
              <a href="mailto:josegastoncirvini@gmail.com" target="_blank"  >
                <span><i class="main-menu__link fa-solid fa-envelope" ></i></span>
              </a>
              <br><br>
          </div>
          
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none pb-3">
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Text -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" id="foot">2022 - Gastón Cirvini 
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
</div>



</footer>