
<!------Barra Navegación-->
<div style="border-bottom: 5px solid black ;" class="container-fluid conta"  >

    <nav class="d-flex text-center d-row justify-content-center list-unstyled"> 
    
    <a routerLink="/presentacion" href="">
        <li>Presentación</li>
    </a>
    <a class="clicks" routerLink="/sobremi" href="">
        <li>Sobre Mi</li>
    </a>
    <a  class="clicks" routerLink="/skills" href="">
        <li>Skills</li>
    </a>
    <a  class="clicks" routerLink="/proyectos" href="">
        <li>Proyectos</li>
    </a>
    </nav>
    
</div>