
*{
text-align: center;
background: url(/assets/imgs/fondito.png);
:hover {
    transition: 0.5s;
    font-size: 30px;
}
font-size: 35px;
padding-left: 10px;
color: rgb(31, 21, 39); 
text-decoration: none;
@media (max-width:"636px") {
    font-size: 30px;
    padding-left:5px ;
    :hover{
        font-size: 25px;
    }
}
@media (max-width:"494px") {
    font-size: 25px;
    padding-left: 2px;
    padding-right: 1px;
    :hover {
        font-size: 20px;
    }
    
}
li {
   
    @media (max-width:"494px") {
       
    }
    @media (max-width:"402px") {
      font-size: 20px;
      
    }
    @media (max-width:"320px") {
        font-size: 15px;
    }

}


}





